@import '../../App.scss';

.teacher-card {
    width:  calc(100% / 4 - 15px);
    height: 200px;
    background-color: var(--card-material);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    
    .content-info{
      display: flex;
      align-items: center;
      padding-top: 20px;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 100%;
    }

    @include screen(md) {
      width: calc(100% / 3 - 15px);
    }

    @include screen(sm) {
      width: calc(100% / 2 - 15px);
    }

    @include screen(xsm) {
      width: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 3px;
      bottom: 0;
      right: 0;
      background-color: var(--primary-color);
      transition: 0.3s;
    }

    &:hover {
      background-color: var(--card-material-hover);

      &::before {
        width: 100%;
      }
    }

    .img {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    h2 {
      color: #999;
      font-size: 23px;
      font-weight: 500;

      @include screen(lg) {
        font-size: 17px;
      }
    }

    p {
      font-weight: bold;
      color: var(--primary-color);
      font-size: 18px;
    }
  }