@import "../../App.scss";

.student-dashboard-menu {

  &.dark{
     ul{
      background-color: var(--main-dark-color);

      li{
        a{
          color: #fff;
          box-shadow: 0 0 2px #fff;

          &.active{
            background-color: #fff;

            p{
              color: #000;
            }

            .icon{
              color: #000;
            }
          }
          &:hover{
            background-color: #fff;

            p{
              color: #000;
            }

            .icon{
              color: #000;
            }
          }

          p{
            color: #fff;
          }

          .icon{
            color: #fff;
          }
        }
      }
     }
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -100%;
    background-color: #bdb7b778;
    transition: 0.3s;

    &.show{
      left: 0;
    }
  }

  ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    top: 80px;
    position: fixed;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 250px;
    transition: 0.3s;
    box-shadow: 0 0 5px var(--box-shadow-color);

    @include screen(lg) {
      right: -250px;
    }

    &.show {
      right: 0 ;
    }

    li {
      height: 50px;
      margin: 10px 0;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
        border-radius: 5px;
        padding: 10px;
        transition: 0.3s;
        box-shadow: 0 0 5px var(--box-shadow-color);

        &:hover {
          background-color: var(--primary-color);

          p {
            color: #fff;
          }

          .icon {
            color: #fff;
          }
        }

        p {
          font-size: 18px;
          color: var(--primary-color);
          transition: 0.3s;
        }

        .icon {
          font-size: 20px;
          color: var(--primary-color);
          transition: 0.3s;
        }

        &.active {
          background-color: var(--primary-color);

          p {
            color: #fff;
          }

          .icon {
            color: #fff;
          }
        }
      }
    }
  }
}
