.notfound{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .btn{
        background-color: var(--primary-color);
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            transform: scale(0.9);
        }
    }
}