@import "../../App.scss";

.main-section {
  position: relative;
  height: calc(100vh -  60px);
  width: 100%;
  background-color: var(--primary-color);

  .intro-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    overflow: hidden;

    &::before {
      content: "";
      background-image: url("../../assets/bg.png");
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      background-repeat: repeat;
      background-size: contain;
      display: block;
      background-position: 0;
      animation: bg 690s linear infinite;
      height: 30000px;
    }

    @include screen(lg) {
      padding: 0 20px;
    }

    .img {
      width: 500px;
      height: 400px;
      position: relative;

      @include screen(lg) {
        width: 350px;
      }

      @include screen(md) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;

      @include screen(xl) {
        align-items: end;
      }

      @include screen(md) {
        align-items: center;
      }

      h1 {
        display: flex;
        gap: 10px;

        span {
          color: var(--danger-color);
        }
      }

      h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 30px;

        @include screen(xl) {
          font-size: 25px;
        }

        @include screen(sm) {
          font-size: 20px;
        }

        @include screen(xsm) {
          font-size: 17px;
        }
      }

      p {
        color: #ebebeb;
        width: 90%;
        text-align: right;
        font-size: 18px;

        @include screen(xl) {
          font-size: 14px;
        }

        @include screen(md) {
          font-size: 18px;
          text-align: center;
        }

        @include screen(sm) {
          font-size: 14px;
        }
      }

      .student-intro-p {
        text-align: center;
        width: 100%;
        margin-top: 30px;
        color: #fff;
        font-size: 30px;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;

        @include screen(xl) {
          gap: 10px;
          justify-content: end;
          width: 100%;
        }

        @include screen(md) {
          justify-content: center;
        }

        @include screen(sm) {
          flex-direction: column;
        }

        .btn {
          padding: 10px 25px;
          background-color: #fff;
          cursor: pointer;
          border-radius: 5px;
          transition: 0.3s;

          @include screen(xl) {
            padding: 5px 15px;
          }

          @include screen(sm) {
            width: 100%;
          }

          &:hover {
            background-color: var(--border-color);
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
            color: var(--primary-color);
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("../../assets/wave-1.png");
    background-size: contain;

    @include screen(lg) {
      height: 75px;
    }

    @include screen(md) {
      height: 50px;
    }

    @include screen(sm) {
      height: 32px;
    }

    &.wave-1 {
      animation: animate 10s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &.wave-2 {
      animation: animate2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 10px;
    }

    &.wave-3 {
      animation: animate 30s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15px;
    }

    &.wave-4 {
      animation: animate2 5s linear infinite;
      z-index: 997;
      opacity: 0.7;
      animation-delay: -2s;
      bottom: 20px;

      @include screen(sm) {
        opacity: 0;
      }
    }
  }
}

.all-materials {
  margin: 100px 0;

  h1 {
    color: var(--primary-color);
    margin-right: 150px;
    text-align: right;

    @include screen(xl) {
      margin-right: 50px;
    }

    @include screen(lg) {
      margin-right: 10px;
    }
  }

  a {
    display: block;
    width: calc(100% / 4 - 15px);

    @include screen(md) {
      width: calc(100% / 3 - 15px);
    }

    @include screen(sm) {
      width: calc(100% / 2 - 15px);
    }

    @include screen(xsm) {
      width: 100%;
    }
  }
  .material {
    width: 100%;
    height: 220px;
    background-color: var(--card-material);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--card-material-hover);
    }

    .img {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    h3 {
      color: #999;
      margin-top: 30px;
      cursor: pointer;
    }

    p {
      color: var(--primary-color);
      direction: rtl;
      font-size: 14px;
    }
  }

  .main-swiper-slider {
    margin: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    flex-wrap: wrap;

    @include screen(xl) {
      margin: 50px;
    }

    @include screen(lg) {
      margin: 50px 10px;
    }
  }
}

.all-teachers {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: var(--primary-color);
    margin-right: 150px;
    text-align: right;

    @include screen(xl) {
      margin-right: 50px;
    }

    @include screen(lg) {
      margin-right: 10px;
    }
  }

  .teachers {
    margin: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;

    @include screen(xl) {
      margin: 50px;
    }

    @include screen(lg) {
      margin: 50px 10px;
    }

    @include screen(xsm) {
      justify-content: center;
    }
  }
}

.swiper {
  padding: 0 10px !important;
}

.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-pagination-bullet {
  transition: 0.3s !important;
}
.swiper-pagination-bullet-active {
  width: 50px !important;
  border-radius: 10px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px !important;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes bg {
  0% {
    background-position-y: 0;
    opacity: 0.4;
  }

  50% {
    background-position-y: -100%;
    opacity: 1;
  }

  100% {
    background-position-y: 0;
    opacity: 0.4;
  }
}
