@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0075ff;
  --primary-color-alt: #0366da;
  --green-color: #009688;
  --danger-color: darkred;
  --border-color: #ebebeb;
  --half-white: #f8f6f6;
  --second-color: #009688;
  --card-material: #f5f5f5;
  --card-material-hover: #dadada;
}

body {
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-alt); /* Darker color when hovering */
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

// Media Query
@mixin screen($breakpoint) {
  @if $breakpoint == xsm {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
