@import "../../../App.scss";

.teacher-quizzes-container {
  position: relative;

  &.dark {
    
    .quize-header {
      background-color: var(--main-dark-color);

      input,
      select {
        background-color: var(--input-dark-bg);
        border-color: var(--input-dark-border);
        color: #fff;

        &::placeholder{
          color: #fff;
        }
      }
    }
  }
}

.question-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  &.dark{
    background-color: var(--main-dark-color);
    
    input{
      background-color: var(--input-dark-bg);
      border-color: var(--input-dark-border);
      color: #fff;

      &::placeholder{
        color: #fff;
      }
    }
  }

  input {
    border: 2px solid var(--border-color);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 17px;

    &:focus {
      border-color: var(--primary-color);
    }
  }

  .answers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

    @include screen(md) {
      flex-direction: column;
    }
  }
}

.btn-quize-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-question-btn,
.btn-send-quize {
  background-color: var(--green-color);
  width: 200px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  height: 50px;
  font-size: 20px;
}

.btn-send-quize {
  background-color: var(--primary-color);
}

.all-three-qizes {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;

  a {
    width: calc(100% / 3 - 20px);
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--box-shadow-color);
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 10px;
    gap: 20px;

    @include screen(md) {
      width: calc(100% / 2 - 20px);
    }

    @include screen(sm) {
      width: 100%;
    }

    &:hover {
      background-color: var(--primary-color);
      color: #fff;

      .icon{
        background-color: #fff;
        color: var(--primary-color);
      }
    }

    .icon{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 20px;
      transition: 0.4s;
    }
  }
}

.add-quize-link {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  border: 2px solid var(--primary-color);
  transition: 0.4s;

  &:hover{
    background-color: #fff;
    color: var(--primary-color);
  }

  @include screen(sm) {
    width: 100%;
    font-size: 18px;
  }

  .icon{
    margin-top: 5px;
  }
}

.quize-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;

  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  input,
  select {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
}

.all-quzes {
  &.dark {
    .all-three-qizes {
      a {
        background-color: var(--main-dark-color);
        color: #fff;
      }
    }

    .add-quize-link {
      background-color: var(--main-dark-color);
    }
  }
}


.level-quizzes{
  padding: 50px 100px;

  @include screen(lg){
    padding: 50px;
  }

  @include screen(md){
    padding: 50px  20px;
  }

  .level-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 20px;
  }

  .quizzes{
    padding: 50px 0;

    .quiz{
      width: 100%;
      padding: 20px;
      box-shadow: 0 0 5px var(--box-shadow-color);
      color: var(--primary-color);
      border-radius: 5px;
      text-align: center;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      transition: 0.4s;
      margin-bottom: 30px;

      .text{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;

        p{
          font-size: 25px;
        }

        .num{
          font-size: 25px
        }
      }

      .controle{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;

        .edite{
          display: flex;
          align-items: center;
          background-color: var(--primary-color);
          color: #fff;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;
          justify-content: center;
          gap: 10px;
          border: 3px solid var(--primary-color);
          transition: 0.4s;

          &:nth-child(2){
            background-color: var(--danger-color);
            border-color: var(--danger-color);

            &:hover{
              color: var(--danger-color);
            }
          }

          &:hover{
            background-color: transparent;
            color: var(--primary-color);

            .icon{
              animation: 1s rubberBand infinite;
            }
          }
        }
      }
    }
  }
}