.student-profile {
  position: relative;

  .dashborad-content {
    background-color: rgba(247, 247, 247, 0.51);
    margin: 20px;
    border-radius: 10px;
    direction: rtl;
    padding: 20px;
    left: 0;
    position: relative;
    width: calc(100% - 270px);
    min-height: 100vh;
  }
}
