@import "../../App.scss";

.main-header {
  width: 100%;
   text-align: right;
   color: #333;
   padding-right: 100px;
   color: var(--primary-color);
   font-weight: 400;
   font-size: 20px;
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: center;
   h1 {
     font-weight: 500;
     width: 350px;
     text-align: center;
     border-bottom: 3px solid var(--danger-color);
 
    @include screen(md) {
      font-size: 20px;
    }

    @include screen(sm) {
      font-size: 15px;
    }
  }

}
